---
import type { DonationItem } from '~/lib/types';

interface Props {
  item: DonationItem;
}

const { item } = Astro.props;

const donationCode = item.id.substring(0, 8).toUpperCase().replace(/(.{4})/, '$1-');
---

<button
  class:list={[
    "bg-white rounded-lg shadow-md overflow-hidden flex flex-col text-left",
    {"cursor-pointer hover:shadow-lg transition-shadow": !item.donation},
    {"opacity-70 cursor-not-allowed": item.donation},
  ]}
  data-item-id={item.id}
  data-donation-code={donationCode}
  data-item-title={item.title}
  data-item-person-name={item.personName}
  data-item-description={item.description}
  data-item-image-url={item.image?.url}
  data-item-donated-by={item.donation?.donatedBy || ''}
  disabled={!!item.donation}
>
  {item.image && <img src={item.image.url} alt={item.title} class="w-full h-48 object-cover" />}
  <div class="p-4 flex-grow flex flex-col">
    <h2 class="text-xl font-semibold mb-2">{item.title}</h2>
    <p class="text-gray-600 text-sm mb-2">per {item.personName}</p>
    <p class="text-gray-800 mb-4 flex-grow">{item.description}</p>
    <div class="mt-auto">
      {
        item.donation ? (
          <span class="inline-block bg-green-200 text-green-800 text-xs px-2 py-1 rounded-full">
            Donato {item.donation?.donatedBy && `da ${item.donation.donatedBy}`}
          </span>
        ) : (
          <span class="inline-block bg-blue-200 text-blue-800 text-xs px-2 py-1 rounded-full">
            Disponibile
          </span>
        )
      }
    </div>
  </div>
</button>
